<div class="region">

  <h2 class="icon large">
    <span>Log-in to your account</span>
    <%= inline_svg_tag(
          "icons/login.svg",
          class: "icon",
        )
    %>
  </h2>

  <%= render "users/shared/links" %>

</div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="blue-bg">
  <div class="region">

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  </div>
</div>

<div class="region">

  <div class="field center actions">
      <%= f.submit "Log in" %>
  </div>

</div>
  <% end %>

