
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="region">
  <h2 class="pick-items">Pick your items</h2>

  <p>Select the items you need most:</p>

</div> <!-- .region -->

  <%= form_with model: @order do |f| %>
    <%= f.fields_for :quantities do |q| %>

      <% @categories.each do |c| %>
        <div class="container">
          <h3 class="category-header category-header-<%= c.name.downcase %>"><%= c.name %></h3>
        </div>
        <div class="category-fields-header">
          <div class="container">
            <span>Item</span>
            <span>Quantity</span>
          </div>
        </div>
        <div class="region category-fields category-<%= c.name.downcase %>-fields">
          <% c.groceries.each do |g| %>
            <div class="form-field">
                <%= q.label g.id, g.name %>
                <span class="horizontal-number-control">
                  <%= q.number_field g.id, in: 0..4, value: 0 %>
                </span>
            </div>
          <% end %>
        </div> <!-- .category-fields .category-<%= c.name.downcase %>-fields -->
      <% end %>
    <% end %>
    <div class="region">
      <div class="form-field">
        <%= f.submit "Confirm items", class: '-button' %>
      </div>
    </div> <!-- .region -->
  <% end %>

