<h2 class="pick-items">Pick your items</h2>

<p>Select the items you need most:</p>

<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @order do |f| %>
  <%= f.fields_for :quantities do |q| %>
    <% @groceries.each do |g| %>
      <%= q.label for: g.name do %>
        <%= g.name %>
        <%= q.number_field g.id, in: 1..4 %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.text_area :preferences %>
  <%= f.submit "Confirm items", class: '-button' %>
<% end %>
