
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="region">

  <h2 class="icon large">
    <span>Pick your items</span>
    <%= inline_svg_tag(
          "icons/food.svg",
          class: "icon",
        )
    %>
  </h2>

  <p>Select the items you need most:</p>

</div> <!-- .region -->


  <%= form_with model: @order do |f| %>
    <%= f.fields_for :quantities do |q| %>
      <% @categories.each do |c| %>
        <div class="accordion row">
          <input
            id="<%= c.name.parameterize.underscore %>-accordion-menu"
            type="checkbox"
            name="accordion"
            class="accordion-toggle"
            />
          <label
            for="<%= c.name.parameterize.underscore %>-accordion-menu"
            class="accordion-toggle"
          >
            <%= inline_svg_tag(
              "icons/" + c.name.parameterize.underscore + ".svg",
              class: "icon medium",
            )
            %>

            <h3><%= c.name %></h3>

            <span class="accordion-icon"><i></i></span>
          </label>
          <div class="category">
            <%=
              render partial: "orders/new/category", locals: { c: c, q: q }
            %>
          </div> <!-- .category -->
        </div>
      <% end %> <!-- fields for -->
    <% end %>

    <div class="region">
      <div class="disclaimer">
        <strong>Please note</strong>
        <p>Not all of the items you have selected may be available.</p>
      </div>

      <div class="field center actions">
        <%= f.submit "Confirm items", class: '-button' %>
      </div>
    </div> <!-- .region -->

  <% end %>

