<div class="region">
  <h1>Order <%= @order.id %></h1>
    <ul>
  <% @order.order_items.each do |item| %>
      <li><%= item.quantity %> <%= item.grocery.name %></li>
  <% end %>
    </ul>

    <% if @order.preferences %>
      <h2>Preferences</h2>
      <%= @order.preferences %>
    <% end %>

    <%= link_to 'Back', orders_path %>
</div> <!-- .region -->
