<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryangelsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap' />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="top-bar">
      <div class="container">

        <div class="top-bar-left">
          <h1>DeliveryAngels</h1>
        </div>

        <div class="top-bar-right">
          <ul class="menu">
            <li>
              <a href="#">User</a>
              <ul class="menu vertical">
                <li><%= link_to "Log Out", destroy_user_session_path %></li>
                <li><%= link_to "My Orders", orders_path %></li>
              </ul>
            </li>
          </ul>
        </div> <!-- .top-bar-right -->

      </div> <!-- .container -->
    </div> <!-- .top-bar -->

    <% if notice || alert %>
    <div class="container">
      <div class="callout">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
      </div>
    </div>
    <% end %>

      <%= yield %>

    <footer>

    </footer>
  </body>
</html>
