<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryangelsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="region">
          <nav>
          </nav>
        </div>
    </header>

    <section class="notices alerts">
      <div class="container">
        <!-- added for devise -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <!-- end added for devise -->
      </div>
    </section>

    <main>
      <%= yield %>
    </main>

    <footer>
      <!-- dev links -->
      <ul class="vertical-menu">
        <li><%= link_to "Log Out", destroy_user_session_path %></li>
        <li><%= link_to "My Orders", orders_path %></li>
      </ul>
      <!-- end dev links -->
    </footer>
  </body>
</html>
