<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryangelsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap' %>
    <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>-<%= controller.action_name %>">

    <header>
      <%= render "shared/navigation" %>
    </header>

    <main>
      <% if notice || alert %>
        <section class="notices alerts">
          <div class="container">
            <!-- added for devise -->
            <% if notice %>
              <p class="notice"><%= notice %></p>
            <% end %>

            <% if alert %>
            <p class="alert"><%= alert %></p>
            <!-- end added for devise -->
            <% end %>
          </div>
        </section>
      <% end %>

      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
